@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
$title-font:'DynaPuff';
$normal-font:'Poppins';
$theme-color:rgb(188,0,22);
$theme2-color:#ffc736;

$logo-text:'Poppins';


