@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
}
.navbar .background {
  width: 50%;
  background-color: rgb(188, 0, 22);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
}
.navbar .navbar-title {
  font-size: 32px;
  cursor: pointer;
}
.navbar .navbar-title span:nth-child(1) {
  color: rgb(188, 0, 22);
  font-family: "DynaPuff";
}
.navbar .navbar-title span:nth-child(2) {
  color: #ffc736;
  font-family: "DynaPuff";
}
.navbar .navbar-menu {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
.navbar .navbar-menu a {
  text-decoration: none;
}
.navbar .navbar-menu a:nth-child(1) {
  color: rgb(188, 0, 22);
  font-weight: 900;
}
.navbar .navbar-menu a:nth-child(1):hover {
  color: black;
  text-decoration: underline;
  transition: ease 0.5s;
}
.navbar .navbar-menu a:nth-child(2) {
  color: #fff;
  font-weight: 900;
}
.navbar .navbar-menu a:nth-child(2):hover {
  color: black;
  text-decoration: underline;
  transition: ease 0.5s;
}
.navbar .navbar-tel {
  color: white;
}
.navbar .navbar-tel span {
  cursor: pointer;
}
.navbar .navbar-tel span:hover {
  text-decoration: underline;
  color: black;
  font-weight: 600;
  transition: ease 0.3s;
}
.navbar .navbar-tel i {
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 15px 15px 0 15px;
  cursor: pointer;
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: all ease 0.5s;
  margin-left: 2px;
}

.banner {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgba(73, 52, 52, 0.6980392157);
  position: relative;
}
.banner .background {
  width: 50%;
  background-color: rgb(188, 0, 22);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
}
.banner-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.banner-left p {
  font-family: "Poppins";
}
.banner-left button {
  background-color: rgb(188, 0, 22);
  color: black;
  padding: 4px 8px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  cursor: pointer;
}
.banner-left button:hover {
  background-color: gray;
  color: rgb(188, 0, 22);
  font-weight: 700;
  box-shadow: 1px 1px 5px black;
  transition: all ease 0.5s;
}
.banner-middle {
  width: 33%;
  position: relative;
}
.banner-middle span {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #ffc736;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 30px;
}
.banner-middle img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.banner-middle img:hover {
  transform: scale(1.1);
  transition: ease-in 0.5s;
}
.banner-right {
  width: 33%;
  text-align: center;
}
.banner-right h4 {
  color: #ffc736;
  font-size: 22px;
  letter-spacing: 2px;
}
.banner-right p {
  color: white;
  font-family: "Poppins";
}

.product {
  padding: 20px 50px;
}
.product-title {
  text-align: center;
}
.product-title h1 {
  color: rgb(188, 0, 22);
}
.product-title span {
  font-family: "DynaPuff";
}
.products {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  row-gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.products-card {
  width: 250px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 40px 40px 0 0;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.products-card:hover {
  transform: translate(-5px, -5px);
}
.products-card p {
  text-align: center;
  font-family: "Poppins";
  margin: 10px 0;
}
.products-card img {
  width: 100%;
  background-color: rgb(188, 0, 22);
  border-radius: 40px 40px 0 0;
}
.products-card-content {
  display: flex;
  justify-content: space-around;
}
.products-card-content button {
  background-color: #ffc736;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 30px;
  border: none;
}
.products-card-order {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
}
.products-card-order i {
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 15px 15px 0 15px;
  cursor: pointer;
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: all ease 0.5s;
  background-color: black;
  color: white;
}
.products-card-order button {
  background-color: rgb(188, 0, 22);
  color: black;
  padding: 4px 8px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.products-card-order button:hover {
  background-color: gray;
  color: rgb(188, 0, 22);
  font-weight: 700;
  box-shadow: 1px 1px 5px black;
  transition: all ease 0.5s;
}

.order {
  border-bottom: 5px solid gray;
  border-top: 5px solid gray;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px 0;
}
.order-card {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 9px black;
  overflow-x: hidden;
  transform: rotate(3deg);
  cursor: pointer;
}
.order-card-left {
  width: 60%;
  background-color: rgb(188, 0, 22);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: end;
  align-items: start;
  padding: 0 0 10px 10px;
}
.order-card-left h3 {
  color: white;
  font-family: "Helvetica";
}
.order-card-left button {
  background-color: rgb(188, 0, 22);
  color: black;
  padding: 4px 8px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  color: rgb(188, 0, 22);
}
.order-card-left button:hover {
  background-color: gray;
  color: rgb(188, 0, 22);
  font-weight: 700;
  box-shadow: 1px 1px 5px black;
  transition: all ease 0.5s;
}
.order-card-right {
  background-color: #ffc736;
  width: 40%;
}
.order-card-right img {
  width: 300px;
}

.advertisement {
  border-bottom: 5px solid gray;
  padding: 20px 50px;
}
.advertisement .ad-title {
  color: rgb(188, 0, 22);
  text-align: center;
}
.advertisement .ad-cards {
  flex: 1 1 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.advertisement .ad-cards img {
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
}
.advertisement .ad-cards img:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  padding: 20px 50px;
}
.footer li {
  list-style: none;
}
.footer-title {
  display: flex;
  flex-direction: column;
}
.footer-title p {
  font-size: 32px;
  cursor: pointer;
  text-align: center;
}
.footer-title p span:nth-child(1) {
  color: rgb(188, 0, 22);
  font-family: "DynaPuff";
}
.footer-title p span:nth-child(2) {
  color: #ffc736;
  font-family: "DynaPuff";
}
.footer-title ul {
  display: flex;
  gap: 5px;
}
.footer-title ul li i {
  font-size: 22px;
}
.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 75px;
  padding-left: 50px;
}
.footer-menu ul {
  width: 100%;
  font-size: 17px;
  font-style: bold;
}
.footer-menu ul li {
  cursor: pointer;
}
.footer-menu ul li:hover {
  color: rgb(188, 0, 22);
  text-decoration: underline;
}
.footer-menu ul li:nth-child(1) {
  font-weight: 700;
}
.footer-menu ul li:nth-child(1):hover {
  color: rgb(188, 0, 22);
}

@media (max-width: 900px) {
  .ad-cards {
    display: flex;
    flex-direction: column;
  }
  .ad-cards img {
    height: 90px;
  }
}/*# sourceMappingURL=style.css.map */